input {
  margin-bottom: 10px
}
button {
  margin-top: 20px;
}
.hidden {
  display: none;
}
.card {
  margin-bottom: 20px;
}
.float-right {
  float: right;
}
.divider {
  background-color: lightgray;
  width:1px;
}
.collapsed {
  height: 0px;
  transform-origin:top;
  opacity: 0;
  pointer-events:none;
}
#transaction-card > .card-body {
}
#transaction-button {
  margin-top:0;
  width:140px;
}
#creation-fields {
  transition: all 100ms linear
}
#login-screen {
  display:none;
  /* height: 80vh; */
  /* position:fixed; */
}

#submit-button {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
